.DS_Store
**/.DS_Store
app-flask/.DS_Store
# Ignore all files in /ollama/ollama-webui
/ollama/ollama-webui/*

# Ignore all files in /ollama/ollama/models
/ollama/ollama/models/*

# Ignore all files in /ollama/ollama
/ollama/ollama/*

# Ignore Jupyter runtime files
/files/work/.local/share/jupyter/runtime

# Ignore log files
*.log
/files/work/.ipython
/ollama-webui/vector_db
/files/work/.cache
/files/work/.jupyter
/files/work/.local
/files/work/.ipynb_checkpoints
/files/work/templates/.ipynb_checkpoints
