<!-- Footer -->
<footer class="text-center text-lg-start mt-5" style="background-color: #fffce3  !important;">
  <div class="container p-4">
    <div class="row">
      <!-- About Section -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 style="text-transform: none;" class="font-weight-bold">{{ app_data['project_name'] }}</h5>
        <p>
          Craving the best? Let AI serve you the highlights from real reviews.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 style="text-transform: none; font-weight: bold;">Quick Links</h5>
        <ul class="list-unstyled mb-0">

          <li><a href="/" class="text-dark" style="color: #ffce6c  !important;">Home</a></li>
          <li><a href="/gallery" class="text-dark" style="color: #ffce6c  !important;">About</a></li>
          <li><a href="/service" class="text-dark" style="color: #ffce6c  !important;">Services</a></li>
          <li><a href="/contact" class="text-dark" style="color: #ffce6c  !important;">Contact</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 style="text-transform: none;" class="font-weight-bold">Follow Us</h5>
        <a href="#" class="text-dark me-4"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-dark me-4"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-dark me-4"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-dark me-4"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>

  <!-- Copyright -->

  <div class="text-center p-3" style="background-color: #f2f2f2 ; color: #ffce6c;">
    © {{ app_data['year'] }} {{ app_data['project_name'] }}. All Rights Reserved.
  </div>
</footer>
