<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand font-weight-bold" style="color:#ffffff !important;" href="/">
      <img src="data:image/png;base64, {{ app_data['logo'] }}" alt="Logo" style="max-height: 30px; margin-right: 10px;">
      {{ app_data['project_name'] }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" style="color:#ffffff !important;" >
          <a class="nav-link" href="/" style="color:#ffffff !important;" >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" style="color:#ffffff !important;" >
          <a class="nav-link" href="/map" style="color:#ffffff !important;" >Map</a>
        </li>
        <li class="nav-item" style="color:#ffffff !important;" >
          <a class="nav-link" href="/service" style="color:#ffffff !important;" >Services</a>
        </li>
        <li class="nav-item" style="color:#ffffff !important;" >
          <a class="nav-link" href="/contact" style="color:#ffffff !important;" >Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="toggleLoginList(event)">
              <img src="data:image/png;base64, {{ app_data['avatar_image'] }}" alt="Logo" style="height: 32px; margin-left: 10px;">
            </a>
            <ul id="loginList" style="display: none; position: absolute; color: #f7b51a !important; background-color: white; list-style: none; padding: 10px; border: 1px solid #ccc;">
              <li><a href="/login" style="color:#f7b51a !important;" >Login</a></li>
            </ul>
      <script>
        function toggleLoginList(event) {
        event.preventDefault();
        const loginList = document.getElementById('loginList');
        loginList.style.display = loginList.style.display === 'none' ? 'block' : 'none';
        }
      </script>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
