
{% extends 'layout.html' %}
{% block body %}
  <div class="container mt-5">
    <form method="POST" class="modal-content">
      <div class="modal-header text-center">
        <h2>Registration</h2>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name:</label>
          <input type="text" class="form-control" name="first_name" required>
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name:</label>
          <input type="text" class="form-control" name="last_name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" name="password" required>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      {% if error %}
      <div class="text-center text-danger">{{ error }}</div>
      {% endif %}
    </form>
  </div>
{% endblock %}
