
{% extends 'layout.html' %}
{% block body %}
  <div style="background-color: #F5F5F5; padding: 20px; border-radius: 8px; color: #f7b51a;">
    <h1 style="font-weight: lighter;">About ReviewChew</h1>
    <p class="lead">
      ReviewChew is a search-based restaurant review summarization platform designed to help users find the best reviews.
    </p>
    <p>
      Our platform uses data from the Yelp Open Dataset and helps users filter restaurants by location, rating, and category.
    </p>
    <p>
      Whether you're looking for the best place to eat in your city or want to check out reviews, ReviewChew makes it easy.
    </p>
  </div>
{% endblock %}
