{% extends 'layout.html' %}

{% block body %}
    <div style="background-color: #F5F5F5; padding: 20px; border-radius: 8px;">
        <h1 style="font-weight: lighter;">Clone ReviewChew using GitHub.</h1>

        <p class="lead">
            <a href="https://github.com/wendyluu01/RestaurantReviewApp" style="color:#f7b51a !important;" target="_blank" >
                https://github.com/wendyluu01/RestaurantReviewApp
            </a>
        </p>

        <p class="lead">
            You can also connect with our team members on LinkedIn! Feel free to reach out to us:
        </p>
        <ul>
            <li><a href="https://www.linkedin.com/in/kibaek-kim-2018/" style="color:#f7b51a;" target="_blank">Kibaek Kim</a></li>
            <li><a href="https://www.linkedin.com/in/ardenhaggin/" style="color:#f7b51a;" target="_blank">Arden Haggin</a></li>
            <li><a href="https://www.linkedin.com/in/wendy-khanh-luu/" style="color:#f7b51a;" target="_blank">Wendy Luu</a></li>
            <li><a href="https://www.linkedin.com/in/sunny-wang-864b1621a/" style="color:#f7b51a;" target="_blank">Sunny Wang</a></li>
            <li><a href="https://www.linkedin.com/in/garima-gupta-a78a66183/" style="color:#f7b51a;" target="_blank">Garima Gupta</a></li>
        </ul>

        <style>
            a:hover {
                color: #f7b51a !important;
            }
        </style>
    </div>
{% endblock %}
