{% extends 'layout.html' %}

{% block body %}
  <div class="container mt-5">
    <!-- Your home page content will remain here -->
    <div class="" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form method="POST" class="modal-content">
          <div class="modal-header">
            <img src="data:image/png;base64, {{app_data['logo'] }}" alt="Logo" class="mx-auto d-block" style="height: 100px;">
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input type="text" class="form-control" name="username" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" name="email" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}