{% extends 'layout.html' %}

{% block body %}
  <div class="container mt-5">
    <!-- Your home page content will remain here -->
    <div class="" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form method="POST" class="modal-content">
          <div class="modal-header">
            <img src="data:image/png;base64, {{app_data['logo'] }}" alt="Logo" class="mx-auto d-block" style="height: 100px;">
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="text" class="form-control" name="email" required>
            </div>
            <div class="mb-1">
              <label for="password" class="form-label">Password:</label>
              <input type="password" class="form-control" name="password" required>
            </div>
          </div>
          {% if error %}
            <div class="mb-1" style="justify-content: center!important; text-align: center; color: #d90a0a;" >
              <span style="text-align: center; color:#d90a0a;">{{error}}</span>
            </div>
            {% endif %}
          <div class="modal-footer" style="justify-content: center!important;" >
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
          <div class="modal-footer" style="justify-content: center!important;" >
            <a href="/registration" style="color:#f7b51a !important;" >You don't have an account yet?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}