{% extends 'layout.html' %}

{% block body %}
    <div style="background-color: #F5F5F5; padding: 20px; border-radius: 8px; color: #f7b51a;">
        <h1 style="font-weight: lighter;">About ReviewChew</h1>
        
        <p class="lead">
            ReviewChew is a search-based restaurant review summarization platform designed to help users find the best reviews from a wide variety of restaurants. By leveraging data from the Yelp Open Dataset, our platform allows users to easily search for restaurants based on location, category, and rating, offering a seamless user experience.
        </p>
        <p>
            Whether you're looking for the best place to eat in your city or want to check out the latest reviews before making a dining decision, ReviewChew brings all the information you need right at your fingertips.
        </p>
        <p>
            Our goal is to provide comprehensive, reliable, and user-friendly restaurant information to ensure that you make the best dining choices. We hope you enjoy using ReviewChew and find it to be an essential part of your dining experiences.
        </p>
    </div>
{% endblock %}