{% extends 'layout.html' %}

{% block body %}
  <div class="container mt-5" style="background-color: #f4f4f4; padding: 30px;">
    <h1 class="text-center" style="font-weight: lighter;">Already know what you're looking for?</h1>
    <p class="text-center">Chew through our collection of tasty images.</p>
    <div class="row">
      <!-- Photo 1 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/400" class="card-img-top" alt="Photo 1">
          <div class="card-body">
            <p class="card-text">Description of the first photo.</p>
          </div>
        </div>
      </div>

      <!-- Photo 2 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/400" class="card-img-top" alt="Photo 2">
          <div class="card-body">
            <p class="card-text">Description of the second photo.</p>
          </div>
        </div>
      </div>

      <!-- Photo 3 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/400" class="card-img-top" alt="Photo 3">
          <div class="card-body">
            <p class="card-text">Description of the third photo.</p>
          </div>
        </div>
      </div>

      <!-- More photos can be added here -->
    </div>
  </div>
{% endblock %}
